# Python Basic

- **[Python](#Python)**
- **[Jupyter Notebook](#Jupyter-Notebook)**
- **[Jupyter Lab Shortcuts](#Jupyter-Lab-Shortcuts)**
- **[Data Types](#Data-Types)**
    - [Numbers](#Numbers)
    - [Strings](#Strings)
    - [Lists](#Lists)
    - [Dictionary](#Dictionary)
    - [Boolean](#Boolean)
    - [Tuple](#Tuple)
    - [Set](#Set)
    - [Casting](#Casting)
    - [Operators](#Operators)
- **[Sysntax](#Sysntax)**
    - [If](#If)
    - [For Loop](#For-Loop)
    - [List Comprehensions](#List-Comprehensions)
    - [Iterable and Iterator](#Iterable-and-Iterator)
    - [Function](#Function)
    - [Mutable and Immutable](#Mutable-and-Immutable)
    - [Lambda Function](#Lambda-Function)
    - [* args and ** kwargs](#*-args-and-**-kwargs)
- **[Object-Oriented Programming](#Object-Oriented-Programming)**
    - [Class and Instance](#Class-and-Instance)
<br><br>

# Python

Most popular and free programming language for data analysis/visualization and machine learning.

# Jupyter Notebook

We can get output immediately after running the cell, so we can write the code while testing.  
Also, we can leave more than comment in the code to help others understand what's going on.

# Jupyter Lab Shortcuts for Windows

Esc + M: Markdown mode  
Esc + Y: Code mode  
Esc + A: make a cell above  
Esc + B: make a cell below  
Esc + D + D: delete a cell  
Esc + Z: undo  
Ctl + B: close a menu  
Ctl + /: comment out/in  
Ctl + clicks: simaltaneous select in a cell  
Shift + select cells + M: merge cell  
Shift + Tab: open a reference  
Shift + Enter: run a cell  
Alt + Enter: run and make a cell below

# Data Types

## Numbers

In [130]:
# type(): return the data type of input
type(3)

int

In [2]:
type(1.0)

float

In [3]:
type(3.14j)

complex

In [4]:
type(1 + 1)

int

In [6]:
# int + float = float
type(1 + 1.4)

float

In [7]:
1 == 1.0

True

In [9]:
1e-3 # 0.001

0.001

## Strings

In [10]:
'single quotation'

'single quotation'

In [11]:
# Double quotation can include single one
"dou'ble"

"dou'ble"

In [3]:
# Three single quotations are often used for docstrings: brief explanation what the function etc. is doing  

'''
multiple
lines
'''
# \n: make a new line

'\nmultiple\nlines\n'

In [17]:
# slicing: [start:end:step]
'hello'[1:3]

'el'

In [19]:
'fileID.png'[:-4]

'fileID'

In [6]:
'hello {}'.format('world')
#f"hello{'world'}"

'helloworld'

In [22]:
'key is {k}, value is {v}'.format(k='KEY', v='VALUE')

'key is KEY, value is VALUE'

In [23]:
'hello' + 'world'

'helloworld'

In [24]:
patient_id = '12345'
number = '6'
file_name = patient_id + '_' + number + '.csv'
file_name

'12345_6.csv'

In [28]:
# file_name = '{}_{}.csv'.format(patient_id, number)
file_name = f'{patient_id}_{number}.csv'
file_name

'12345_6.csv'

In [30]:
'hello world'.split(' ')

['hello', 'world']

In [31]:
'hello world'.split('o')

['hell', ' w', 'rld']

In [32]:
file_name.split('.')

['12345_6', 'csv']

In [34]:
' '.join(['hello', 'world'])

'hello world'

## Lists

Data type to contain any data types (including list)

In [12]:
list1 = [1, 'hello', 3]
list1

[1, 'hello', 3]

In [38]:
list1[0]

1

In [13]:
list2 = ['one', 'two']
list1.append(list2)

In [14]:
list1

[1, 'hello', 3, ['one', 'two']]

In [15]:
list1[3][0]

'one'

In [17]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [18]:
[1, 2, 3] * 2

[1, 2, 3, 1, 2, 3]

## Dictionary

Data type to keep keys and values

In [23]:
dict1 = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [24]:
dict1['key1']

'value1'

In [26]:
# add new key and value
dict1['key4'] = 'value4'
dict1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [61]:
# change the value with respect to key
dict1['key1'] = 'value updated'
dict1

{'key1': 'value updated', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [30]:
# method to get all keys
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [31]:
# method to get all values
dict1.values()

dict_values(['value updated', 'value2', 'value3', 'value4'])

In [32]:
# method to get all keys and values in tuple
dict1.items()

dict_items([('key1', 'value updated'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

## Boolean

In [55]:
True

True

In [56]:
False

False

## Tuples

Data type which look like lists but it's immutable: cannot add, remove, replace...

In [33]:
tuple1 = (1, 2, 3)
tuple1

(1, 2, 3)

In [36]:
# unpacking
a, b, c = tuple1
print(a, b, c)

1 2 3

## Set

Data type which also look like lists but each value is unique

In [59]:
set1 = {1, 1, 1, 2, 2, 3, 3, 3}
set1

{1, 2, 3}

## Casting

Convert one data type into another

In [61]:
int(1.9)

1

In [62]:
float(1)

1.0

In [63]:
bool(1)

True

In [64]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [65]:
list1 = [1, 2, 2, 3, 3, 4, 4]
set(list1)

{1, 2, 3, 4}

## Operators

In [66]:
1 + 3

4

In [67]:
3 - 2

1

In [68]:
2 * 2

4

In [69]:
2 / 5

0.4

In [70]:
2 ** 3

8

In [71]:
16 // 5

3

In [72]:
16 % 5

1

In [79]:
#i = i + 1
i += 1

In [81]:
i

3

In [82]:
3 > 1

True

In [83]:
3 == 3

True

In [84]:
3 != 3

False

In [85]:
'h' in 'hello'

True

In [86]:
'w' in ['w', 'a', 'g', 3]

True

In [88]:
True and False

False

In [90]:
True or False

True

In [91]:
(4 > 2) and (1 > 3)

False

In [92]:
a = [1, 2]
b = [1, 2]

In [93]:
a == b

True

In [38]:
# this is because id(a) and id(b) are different
print(id(a), id(b))
a is b

94649152041728 94649152041760

False

In [95]:
a is not b

True

In [39]:
a = None
a is None

True

## Sysntax

## If

In [44]:
a = 1
if a == 1:  # colon
    print('a is 1')  # indent 
elif a <= 1:
    print('a is less than and equal to 1')
else:
    print('a is something else')
print('this comment is outside of if')

a is 1
this comment is outside of if

In [40]:
# possible to write one code like this
print('a is 2') if a == 2 else print('a is NOT 2')

a is NOT 2

In [43]:
b = True
if b:  # b == True
    print("Yes")
else:
    pass  # do nothing

Yes

## For Loop

loop in the given range

In [46]:
colors = ['red', 'blue', 'green', 'yellow', 'white']  # lists
for color in colors:  # color looping in colors
    favorite_color = 'blue'
    if color == favorite_color:
        print('{} is my favorite'.format(color))
    else:
#         print('{} is NOT my favorite'.format(color))
        print(f'{color} is NOT my favorite')  # fstring

red is NOT my favorite
blue is my favorite
green is NOT my favorite
yellow is NOT my favorite
white is NOT my favorite

In [62]:
# range(x): 0 ~ (x-1)
for i in range(5):  # 0-4
    print(i)
#     print(i, end='')  # output in one line

0
1
2
3
4

In [60]:
# range(start, end, step): start ~ (end-1) by step
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [55]:
# enumerate(list) can take index number and the value at the same time
for idx, color in enumerate(colors):
    favorite_color = 'blue'
    if color == favorite_color:
        print(f'{idx}: {color} is my favorite')
    else:
        print('{}: {} is NOT my favorite'.format(idx, color))

0: red is NOT my favorite
1: blue is my favorite
2: green is NOT my favorite
3: yellow is NOT my favorite
4: white is NOT my favorite

## List Comprehensions

In [56]:
# create colors_png = ['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']
colors_png = []
for color in colors:
    colors_png.append(color + '.png')
print(colors_png)

['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [57]:
# create with one line code
[color + '.png' for color in colors]

['red.png', 'blue.png', 'green.png', 'yellow.png', 'white.png']

In [65]:
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# when i is even: i % 2 == 0, calculate i * 2, where i loops in data_list 
[i * 2 for i in data_list if i % 2 ==0]

[4, 8, 12, 16, 20]

## While Loop

loop as long as the condition is True

In [1]:
i = 0
while  i < 5:
    print(f'{i} is less than 5')
    i += 1

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

## Iterable and Iterator

Iterable: String, List, Tuple, Set, Dict  
Not iterable: Integer, Float, Boolean  

Iterable: objects which iter() function can return  
Iterator: objects which next() function can iterate

In [17]:
r = range(10)
r_i = iter(r)

In [21]:
next(r_i)

3

In [22]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
colors = ['red', 'blue', 'green', 'yellow', 'white']
for color in colors:
    print(color)

red
blue
green
yellow
white

In [9]:
for char in 'red':
    print(char)

r
e
d

In [11]:
# error: TypeError: 'bool' object is not iterable
# for char in True:
#     print(char)

In [13]:
colors_i = iter(colors)

In [14]:
next(colors_i)

'red'

In [15]:
next(colors_i)

'blue'

## Function

Framework to contain some processes

In [66]:
def function_name(param1, param2='hello'):  # default setting which is always latter
    """
        This function prints something
    Usage
    ----------------
    arg1 = 'argument1'
    arg2 = 'argument2'
    function_name(arg1, arg2)
    
    Parameters
    ----------------
        param1: explain param1
        param2: explain param2
    Returns
    ----------------
        strings: param1 and param2
    """
    print(f'Do something for {param1} and {param2}')
    return param1 + ' and ' + param2

In [69]:
arg1 = 'argument1'
arg2 = 'argument2'
function_name(arg1, arg2)

Do something for argument1 and argument2

'argument1 and argument2'

In [71]:
# possible to point out which is which like "param1=" 
function_name(param1='arg1', param2='arg2')

Do something for arg1 and arg2

'arg1 and arg2'

In [72]:
value = _  # "_" keeps the last return
value

'arg1 and arg2'

In [73]:
p_r = print('hello world')  # None returned
p_r is None

hello world

True

In [75]:
# recursive function: fibnacci
def calc_fib(n):
    if n == 1 or n == 2:
        return 1
    else:
        return calc_fib(n - 1) + calc_fib(n - 2)
    
print('Fibnacci:', calc_fib(10))

Fibnacci: 55

In [76]:
# more efficient way to calculate recursive function

## Mutable and Immutable

Mutable: list, dict, set   
Immutable: integer, float, boolean, string, tuple

In [42]:
list_a = [1, 2, 3]
id(list_a)

139707588198224

In [44]:
list_a += [4, 5, 6]
id(list_a)

139707588198224

In [46]:
a = 3
print(id(a))
a += 4
print(id(a))

93892995314496
93892995314624

Call by reference vs Call by value

In [55]:
list_a = [1, 2, 3]
def append_elem(list_param, elem=0):
    list_param.append(elem)
    return list_param

In [56]:
list_b = append_elem(list_a, elem=4)
list_b

[1, 2, 3, 4]

In [57]:
list_a  # because list is mutable! Python is call by reference

[1, 2, 3, 4]

In [58]:
num_a = 4
def add_num(param, num=0):
    param += num
    return param

In [59]:
num_b = add_num(num_a, num=3)

In [60]:
num_b

7

In [62]:
num_a  # bacause integer is immutable! it's like call by value

4

In [63]:
def print_id(param):  # python is call by reference
    print(id(param))

In [64]:
a = 5
print(id(a))
print_id(a)

93892995314560
93892995314560

## Lambda Function

oftern used for chart calculation

In [65]:
def func(a):
    return a + 1

In [66]:
x = lambda a: a + 1

In [67]:
func(3)

4

In [68]:
x(3)

4

Challenge: get 'image1' from '/home/user/Desktop/image1.png'

In [70]:
def get_filename(path):
    return path.split('/')[-1].split('.')[0]

In [71]:
get_filename('/home/user/Desktop/image1.png')

'image1'

In [72]:
x = lambda path: path.split('/')[-1].split('.')[0]

In [73]:
x('/home/user/Desktop/image1.png')

'image1'

In [81]:
# Lambda/Anonymous function: make the function more sinple

def calc_multi(a, b):
    return a * b
print("Usual function: ", calc_multi(3, 10))

# remove "def", "calc_multi()", "return"
print("Lambda function: ", (lambda a, b: a * b)(3, 10))

Usual function:  30
Lambda function:  30

In [86]:
# example case: multiply 2 for each item in list
# usual
def calc_double(x) :
    return x * 2
for num in [1, 2, 3, 4]:
    print(calc_double(num))

# using map function: map(function etc., target)
print(list(map(calc_double, [1, 2, 3, 4])))

# lambda function and map function
print(list(map(lambda x : x * 2, [1, 2, 3, 4])))

2
4
6
8
[2, 4, 6, 8]
[2, 4, 6, 8]

## Exercize -function-

convert ['filename1', 'filename2', 'filename3'] into  ['filename1_0.png', 'filename2_1.png', 'filename3_2.png']

In [97]:
def add_extension(filename_list, extension='.png'):
    """
    return a list whose item has with '_idx.extension'
    
    Parameters
    ----------
        filename_list: filename's list
        extension: extension
    Return
    ----------
        return_list: list containing filename_list's item with '_idx.extension'
    """
#     result_list = []
#     for idx, filename in enumerate(filename_list):
# #         result_list.append(filename_list[idx]+'_'+str(idx)+'.png')
#         result_list.append(f'{filename}_{idx}.png')
#     return result_list

    return [f'{filename}_{idx}{extension}' for idx, filename in enumerate(filename_list)]

In [104]:
x = lambda filename_list, extension='.png': [f'{filename}_{idx}{extension}' for idx, filename in enumerate(filename_list)]
x(file_list, 'jpg')

['filename1_0jpg', 'filename2_1jpg', 'filename3_2jpg']

In [105]:
file_list = ['filename1', 'filename2', 'filename3'] 
add_extension(file_list, '.jpg')

['filename1_0.jpg', 'filename2_1.jpg', 'filename3_2.jpg']

In [106]:
# review for list comprehension
a = [1, 2, 3]
[i*10 for i in a]
# b = [10, 20, 30]

[10, 20, 30]

## * args and ** kwargs

In [108]:
def func1(a, b):
    return a + b

In [113]:
def func2(*args):  # *args can accept any arguments args: tuple
    return args[0] + args[1]

In [115]:
func2(1, 3, 4)

4

Challenge: return a list with filename only with '.png'

In [117]:
def return_only_png(filename1, filename2):
    png_list = []
    if filename1[-4:] == '.png':
        png_list.append(filename1)
    
    if filename2[-4:] == '.png':
        png_list.append(filename2)
    
    return png_list

In [120]:
return_only_png('image1.png', 'image2.jpg')

['image1.png']

In [121]:
def return_only_png(*args):
    png_list = []
    
    for filename in args:
        if filename[-4:] == '.png':
            png_list.append(filename)
    return png_list

In [122]:
return_only_png('image1.png', 'image2.jpg')

['image1.png']

In [134]:
# **kwargs: dict

def print_dict(**kwargs):
    param_a = kwargs.get('a', 100)
    param_b = kwargs.get('b', 10)
    param_c = kwargs.get('c', 1)

    print(param_a, param_b)

In [135]:
print_dict(b=2)

100 2

In [137]:
a = [1, 2, 3, 4]
print(a)
print(*a)  # *: unpack operator

[1, 2, 3, 4]
1 2 3 4

In [140]:
list_a = [1, 2, 3]
list_b = [4, 5, 6, 7]
list_a_b = [*list_a, *list_b]
list_a_b

[1, 2, 3, 4, 5, 6, 7]

In [142]:
dict_a = {'one': 1, 'two': 2}
dict_b = {'three': 3,'four': 4, 'five': 5}
dict_a_b = {**dict_a, **dict_b}
dict_a_b

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [145]:
# def add_extension(filename, idx=0, extension='.png'):
#     return f'{filename}_{idx}{extension}'

x = lambda filename, idx=0, extension='.png': f'{filename}_{idx}{extension}'

In [146]:
add_extension('image1', idx=2, extension='.jpg')

'image1_2.jpg'

In [148]:
def wrap_add_extension(args):
    return add_extension(*args)

In [150]:
arg_tuple = ('image1', 2, 'jpg')
wrap_add_extension(arg_tuple)

'image1_2jpg'

In [151]:
arg_list = [('image1', 2, 'jpg'), 
            ('image2', 4, 'png'), 
            ('image6', 7, 'jpg')]

[wrap_add_extension(arg) for arg in arg_list]

['image1_2jpg', 'image2_4png', 'image6_7jpg']

In [152]:
def func(a, b):
    return a+10, b+10

In [157]:
r = func(10, 20)
x, y = r
print(x, y)

20 30

## Object-Oriented Programming

## Class and Instance

Python is one of object-oriented programing(oop) language.  
Why is this useful??

In [90]:
class PrintClass:  # define PrintClass
    def print_me(self):  # define method
        print(self.x, self.y)
# create instance
p1 = PrintClass()

# put value as attribute
p1.x = 10
p1.y = 100
p1.z = 1000

# call method
p1.print_me()

In [99]:
# another example
class MyCalcClass:
    
    # initialization
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def calc_add1(self, a, b):
        return a + b
    
    def calc_add2(self):
        return self.x + self.y

    def calc_multi(self, a, b):
        return a * b

    def calc_print(self, a):
        print('data:{0}, y:{1}'.format(a, self.y))

In [100]:
instance_1 = MyCalcClass(1, 2)
instance_2 = MyCalcClass(5, 10)

In [102]:
print('Summation with new values:', instance_1.calc_add1(5, 3))
print('Summation with original values:', instance_1.calc_add2())
print('Multiplication:', instance_1.calc_multi(5, 3))
instance_1.calc_print(5)

Summation with new values: 8
Summation with original values: 3
Multiplication: 15
data:5, y:2

In [104]:
print('Summation with new values:', instance_2.calc_add1(10, 3))
print('Summation with original values:', instance_2.calc_add2())
print('Multiplication:', instance_2.calc_multi(4, 3))
instance_2.calc_print(20)

Summation with new values: 13
Summation with original values: 15
Multiplication: 12
data:20, y:10

## What's next???

NumPy  
Scipy  
Pandas  
Matplotlib  
Seaborn